<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <nav>
    <img class="img" src="/assets/img/cat.png" alt="" width="100px" height="80px">

    <ul>
      <li><a href="/login">Login</a></li>
      <li><a href="/">Registrar</a></li>
    </ul>
  </nav>
  {{{body}}}
  <section class="postagens">
<article class="linha1">
<img src="/assets/img/cat01.jpg" alt="" width="500px" height="810px">    
<img src="/assets/img/cat02.jpg" alt="" width="500px" height="810px">
<img src="/assets/img/cat05.jpg" alt="" width="500px" height="810px">
</article>

<article class="linha2">
<img src="/assets/img/cat11.jpg" alt="" width="800px"height="880px">    
<img src="/assets/img/cat08.jpg" alt=""width="700px" height="880px">
</article>

<article class="linha3">
<img src="/assets/img/cat04.jpg" alt="" width="1500px" height="1125px">    
</article>

<article class="linha4">
<img src="/assets/img/cat12.jpg" alt="" width="500px" height="810px">    
<img src="/assets/img/cat09.jpg" alt="" width="500px" height="810px">
<img src="/assets/img/cat06.jpg" alt=""width="500px" height="810px">
</article>

<article class="linha5">
<img src="/assets/img/cat03.jpg" alt=""width="900px"height="750px">    
<img src="/assets/img/cat13.jpg" alt=""width="600px"height="750px">
</article>

<article class="linha6">
<img src="/assets/img/cat07.jpg" alt="" width="1500px"> 
</article>
</section>

  <footer>
    <p>Todos os direitos reservados <span>&copy;</span></p>
  </footer>
</body>
</html>