<main id="cadastro">
    <form action="/cadastro" method="post" class="cadastro">
    <h1>Cadastre-se</h1>

    <div class="form-control">
        <label for="nome">Usuário</label>
        <input type="text" name="nome">
    </div>

      <div class="form-control">
        <label for="email">E-mail</label>
        <input type="email" name="email">
    </div>

    <div class="form-control">
        <label for="senha">Senha</label>
        <input type="password" name="senha">
    </div>

        <div class="form-control">
        <label for="confirmsenha">Repita a senha</label>
        <input type="password" name="confirmsenha">
    </div>

    <input type="submit" value="Cadastrar" class="cadastro">

   
</form>
</main>