<main id="login">
    <form action="/login" method="post" class="login">
    <h1>Login</h1>

    <div class="form-control">
        <label for="nome">Usuário</label>
        <input type="text" name="nome">
    </div>

    <div class="form-control">
        <label for="senha">Senha</label>
        <input type="password">
    </div>

    <input type="submit" value="Entrar" class="entrar">

    <h1>Cadastra-se</h1>
    <a href="/cadastro">Ainda não possui conta? Cadastre-se no site</a>

   <button type="submit"><a href="/cadastro">Cadastro</a></button>
</form>
</main>